@page "/"

<PageTitle>Home</PageTitle>

<h1>Problem Showcase</h1>

<TelerikButton OnClick="@(() => _popupVisible = true)">Open Picker</TelerikButton>

@* If you uncomment below and comment out the TelerikDialog data-binding works *@
@* <PartPicker @bind-Selected="_model.Alternatives"/> *@

<TelerikDialog @ref="_dialogRef" @bind-Visible="_popupVisible">
    <DialogContent>
        @* Adding a refresh call after binding fixes the problem! *@
        <PartPicker @bind-Selected="_model.Alternatives" @bind-Selected:after="() => _dialogRef.Refresh()"/>
    </DialogContent>
    <DialogButtons>
        <TelerikButton OnClick="@(() => _popupVisible = false)">Ok</TelerikButton>
    </DialogButtons>
</TelerikDialog>

<p class="k-mt-5">Alternatives:</p>

<pre>
    <code>
Count: @_model.Alternatives.Count
Items:
    <ul>
        @foreach (var alt in _model.Alternatives)
        {
            <li>Name: @alt.Name, Price: @alt.Price</li>
        }
    </ul>
            

    </code>
</pre>

@code {
    private bool _popupVisible;
    private readonly PartPlaceDefinition _model = PartPlaceDefinition.All[0];
    private TelerikDialog _dialogRef = null!;

}